/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}























































/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}


/* Custom, iPhone Retina */
@media only screen and (min-width : 380px) {
	.second-container {
		height: 200px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 400px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.logo {
		width: 250px;
	}
	.second-container {
		height: 300px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.first {
		display: none;
	}
	.not-responsive-nav {
		display: flex;
	}
	.second {
		display: block;
	}
	.logo {
		width: 300px;
	}
	.desktop-ul {
		list-style: none;
		padding: 0;
		margin: 0;
		align-items: center;
		display: flex;
	}

	.desktop-ul li a {
		color: #333;
		padding: 1rem;
		text-decoration: none;
		font-size: 15px;
		text-transform: uppercase;
		position: relative;
		font-weight: bold;
	}

	.desktop-ul li a,
	.desktop-ul li a:after {
		transition: all .5s;
	}

	.desktop-ul li a:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 0%;
		content: '';
		color: transparent;
		background: #333;
		height: 2px;
	}
	.desktop-ul li a:hover:after {
		width: 100%;
	}

	.desktop-ul li {
		padding: 0;
		margin-left: 10px;
	}
	.section01 h1 {
		font-size: 30px;
	}
	.second-container {
		height: 150px;
	}
	.grid figure {
		max-height: 450px;
		min-height: 450px;
		height: 450px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-nav {
		height: 160px;
	}
	.desktop-ul li a {
		font-size: 18px;
	}
	.main-slider {
		top: 0;
	}
	.main-slide img {
		height: 100vh;
	}
	.section01 {
		position: static;
		top: 0;
	}
	.second-container {
		height: 230px;
	}
	.section01 p {
		font-size: 14px;
	}
	.section01 h1 {
		font-size: 34px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.section01 p {
	font-size: 16px;
}
}

@media only screen and (min-width : 1800px) {
	.grid figure {
		max-height: 650px;
		min-height: 450px;
		height: 650px;
	}
}


